{% extends 'master.html' %}

{%- block application_navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Application Name -->
    <a class="navbar-brand" href="{{ url_for('auth.login') }}">Authentication</a>

    <!-- Button for if page is too narrow for all items -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarApplication" aria-controls="navbarApplication" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Button controlled items -->
    <div class="collapse navbar-collapse" id="navbarApplication">
        <!-- List of Applications -->
        <ul class="navbar-nav mr-auto">
            {% if g.user %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
            {% endif %}
            <!-- Not a good idea in production but handy for testing -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.reset_db') }}">Reset DB</a></li>
        </ul>
    </div>
</nav>
{%- endblock %}

{% block content %}

{% block auth_header %}
{% endblock %}

{% block auth_flashed_messages %}
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
{% endblock %}

{% block auth_content %}
{% endblock %}

{% endblock %}