{% extends 'mapping_data_crud/master.html' %}

{%- block head_custom %}
<!-- links for CSV Download -->
<script type="text/javascript" src="{{ url_for('static', filename='csv_table_downloader.js') }}"></script>
{%- endblock %}

{% block content %}
<h1>Groups</h1>

{%- if error_message %}
<!-- Error Message -->

<h2>Error</h2>
<p>{{ error_message }}</p>

<!-- End: Error Message -->
{% endif %}


{% block sub_content %}
{%- if groups %}
<!-- Output Items -->

<h2>Group List</h2>
<table id='group_list' class='table table-striped table-hover table-sm'>
<tr class='thead-dark text-center'>
    <th>ID</th>
    <th>Reference</th>
    <th>Description</th>
    <th>Date Created</th>
<tr>
{% for group in groups %}
<tr>
    <td><a href='{{ url_for('mapping_data_crud.group_retrieve', group_id=group.id) }}'>{{ group.id }}</a></td>
    <td>{{ group.reference }}</td>
    <td>{{ group.description }}</td>
    <td>{{ group.date_created }}</td>
</tr>
{% endfor %}
</table>
<!-- CSV Download Button -->
<button class="btn btn-primary" id="group_list_btn_download_csv">Download as CSV</button>
<!-- End: CSV Download Button -->
<!-- CSV Download Button Code -->
<script>
const table_group_list = document.getElementById('group_list');
const exportBtn_group_list = document.getElementById('group_list_btn_download_csv');

exportBtn_group_list.addEventListener('click', function () {
    // Export to csv
    const csv = toCsv(table_group_list);

    // Download it
    download(csv, 'groups_list_export.csv');
});
</script>
<!-- End: CSV Download Button Code -->

<!-- End: Output Items -->
{% endif %}
{%- endblock %}

{% block group_actions %}
<h2>Actions</h2>
{%- if individual_group %}
<form action="{{ url_for('mapping_data_crud.group_retrieve', group_id=individual_group.id) }}" class='pb-2'>
<button class="btn btn-primary">Retrieve (view) This Group</button>
</form>
<form action="{{ url_for('mapping_data_crud.group_update', group_id=individual_group.id) }}" class='pb-2'>
<button class="btn btn-primary">Update This Group</button>
</form>
<form action="{{ url_for('mapping_data_crud.group_delete', group_id=individual_group.id) }}" class='pb-2'>
<button class="btn btn-primary">Delete This Group</button>
</form>
<form action="{{ url_for('mapping_data_crud.group') }}" class='pb-2'>
<button class="btn btn-primary">View All groups</button>
</form>
{% else %}
<form action="{{ url_for('mapping_data_crud.group_create') }}" class='pb-2'>
<button class="btn btn-primary">Create New Group</button>
</form>
{% endif %}
{%- endblock %}

{%- endblock %}
