{% extends 'mapping_data_crud/master.html' %}

{% block content %}
<h1>Database reset</h1>

<p>The database has been reset</p>

{{ table | safe }}

<button class="btn btn-primary" id="export">Download as CSV</button>

<!-- Export CSV Code (all embedded rather than linked)-->
<script>
const toCsv = function (table) {
    // Query all rows
    const rows = table.querySelectorAll('tr');

    return [].slice
        .call(rows)
        .map(function (row) {
            // Query all cells
            const cells = row.querySelectorAll('th,td');
            return [].slice
                .call(cells)
                .map(function (cell) {
                    return cell.textContent;
                })
                .join(',');
        })
        .join('\n');
};

const download = function (text, fileName) {
    const link = document.createElement('a');
    link.setAttribute('href', `data:text/csv;charset=utf-8,${encodeURIComponent(text)}`);
    link.setAttribute('download', fileName);

    link.style.display = 'none';
    document.body.appendChild(link);

    link.click();

    document.body.removeChild(link);
};


const table = document.getElementById('exportMe');
const exportBtn = document.getElementById('export');

exportBtn.addEventListener('click', function () {
    // Export to csv
    const csv = toCsv(table);

    // Download it
    download(csv, 'test_list_tables.csv');
});
</script>
<!-- End: Export CSV Code -->
{% endblock %}