{% extends 'master.html' %}

{% block content %}
<h1>Welcome to dmdma</h1>
<p>Dirty Master Data Management Application</p>
<p>The aim of this project it to be an example/template/starting point for using
<a href="https://palletsprojects.com/p/flask/">flask</a> for a quick and dirty
approach to a <b>Master Data Management</b> Application AKA a <b>Data Warehouse Management Application</b>.
</p>
<p>Code for this project can be seen on github: <a href="https://github.com/d-roman-halliday/Dirty-Master-Data-Management-Application">d-roman-halliday -> Dirty-Master-Data-Management-Application</a></p>
{% if g.user %}
<p>Select a sub application from the selection above</p>
{% else %}
<p>Login (via the Authentication link above) to access applications</p>
{% endif %}
<h1>To Do</h1>
<h2>Short Term</h2>
<ul>
    <li>Document (in README.md):
        <ul>
            <li>Deployment
                <ul>
                    <li>Apache WSGI Configuration</li>
                    <li>Python virtual environments for prod</li>
                    <li>Build &amp; deploy process</li>
                </ul>
            </li>
            <li>PivotTable integration</li>
            <li>layout</li>
            <li>Libraries used</li>
        </ul>
    </li>
    <li>Apply to python code <a href="https://realpython.com/documenting-python-code/">Documenting Python Code</a> practises.</li>
    <li>Do more <a href="https://testdriven.io/blog/flask-pytest/">Testing Flask Applications with Pytest</a> tests.</li>
    <li>Application: Reporting
        <ul>
            <li>Try out: <a href="https://www.chartjs.org/">chartjs.org</a></li>
            <li>Try out: <a href="https://apexcharts.com/">apexcharts.com</a></li>
        </ul>
    </li>
    <li>Application: Linking &amp; Mapping
        <ul>
            <li>report for problems</li>
            <li>CSV uploads</li>
        </ul>
    </li>
    <li>Application: System &amp; Information
        <ul>
            <li>Execute shell script/command (return output)</li>
            <li>Link/download file(s) from location</li>
        </ul>
    </li>
</ul>

<h2>Longer Term</h2>
<ul>
    <li>Relocate sqlite files in prod outside of python code (into configurable location)</li>
    <li>Convert Auth to dynamic pages (use bootstrap better)</li>
    <li>Alternative mod_wsgi deployment (compile)</li>
    <li>User Management</li>
    <li>Authentication - Google auth</li>
    <li>Dynamic applications list (using both user information/permissions and available applications)</li>
    <li>Databases (incorporate other connections/libraries for more integration.interaction)</li>
    <li>Application: Secure chart creation
        <ul>
            <li>Create charts/graphs which can be embedded in an iframe of another application with filter arguments as URL parameters</li>
            <li>Create/enable secure connections/trust so that the only the host application can create charts (other calls result in error)</li>
        </ul>
    </li>
</ul>
{% endblock %}